body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f9;
    padding: 50px;
    margin: 0;
    display: block;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: rgb(226, 241, 246);
    background-image: url("images/bubble-background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 44px;
    margin-bottom: 20px;
    text-align: center; 
    width: 100%;
    color: #810485;
}

input {
    padding: 10px;
    font-size: 22px;
    margin-top: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center; 
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    min-height: 30px;
}

#textExercise {
    direction: rtl; /* הצגת הטקסט בעברית */
    font-size: 32px;
    margin-bottom: 10px;
}

#numberExercise {
    direction: ltr; /* הצגת המספרים משמאל לימין */
    font-size: 32px;
    margin-bottom: 10px;
}

#score {
    margin-top: 20px;
    font-size: 32px;
    color: rgb(4, 75, 4)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#puzzleContainer {
    width: 300px;  /* רוחב הפאזל */
    height: 300px; /* גובה הפאזל */
    position: relative; /* נאפשר מיקום אבסולוטי לחלקי הפאזל */
    overflow: hidden; /* נחתוך חלקים שיוצאים מגבולות הפאזל */
    margin: auto;    
    border: 2px solid darkblue;
}

.puzzlePart {
    position: absolute; /* מיקום אבסולוטי לחלקי הפאזל */
    width: 100px; /* רוחב כל חלק */
    height: 100px; /* גובה כל חלק */
    background-size: 300px 300px; /* התאמת גודל התמונה לרקע */
    background-repeat: no-repeat;
    visibility: hidden; /* בהתחלה כל החלקים מוסתרים */
}